// Extendables.
// Container extend.
%container {
  @include container;
  @include box-sizing(content-box);
  @include position(relative);
  @include tablet {
    @include with-layout(6) {
      @include container;
    }
    
    max-width: none;
  }
  @include phone {
    @include with-layout(14 (37px 10px)) {
      @include container;
    }
    
    max-width: none;
    padding: 0;
  }
  
  height: 100%;
  padding: 0 susy-get('grid-padding');
}

%clearfix {
  @include clearfix;
}

// Hide text extend.
%hidetext {
  @include hide-text;
}

// Uncollapse extend.
%uncollapse {
  &:before {
    content: '\a0 ';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

%hide-desktop {
  @include desktop {
    display: none !important;
  }
}

%hide-mobile {
  @include mobile {
    display: none !important;
  }
}

%hide-tablet {
  @include tablet {
    display: none !important;
  }
}

%hide-phone {
  @include phone {
    display: none !important;
  }
}